* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background-color: lightgrey;
  font-family: sans-serif;
}

:root {
  box-sizing: border-box;
}

h1, h2 {
    background-color: white;
}

.container {
    background-color: lightgrey;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 50px;
    gap: 10px;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "footer footer footer";
}

.block-style {
    background-color: white;
    text-align: left;
    border-radius: 5px;
}
.header-item{
    grid-area: header;
    padding-left: 5px;
    
}
.sidebar{
    grid-area: aside;
    padding-left: 5px;
}
.content{
    grid-area: main;
    padding-left: 5px;
}

.footer-item{
    grid-area: footer;
    padding-left: 5px;
    
}

@media screen and (max-width: 600px) {

    .container{
        background-color: lightgray;
        display: grid;
        height: 100vh;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
        grid-template-areas: 
        "header"
        "main"
        "aside"
        "footer";
    }

    .header-item{
        grid-area: header;
        padding-left: 5px;
        
    }
    .sidebar{
        grid-area: aside;
        padding-left: 5px;
    }
    .content{
        grid-area: main;
        padding-left: 5px;
    }
    
    .footer-item{
        grid-area: footer;
        padding-left: 5px;
        
    }
    
}
